body {
    font-family: "Verdana";
}

.nametext {
    font-size: 30px;
    background: linear-gradient(to left,
            violet,
            green,
            red);
    -webkit-background-clip: text;
    color: transparent;
}
