body {
    font-family: "Verdana";
}

.nametext {
    font-size: 25px;
    font-family: "Eater", serif;
    background: linear-gradient(to left,
            violet,
            red,
            violet,
            yellow,
            red);
    -webkit-background-clip: text;
    color: transparent;
    font-style: oblique;
}
